In [0]:
myStr = "Hello"

def printStr():
  global myStr
  print(myStr)
  myStr = "There!"
  print(myStr)

In [3]:
printStr()

Hello
There!

In [0]:
def DisplayMulti(*VarArgs):
  for Arg in VarArgs:
    if Arg.upper() == 'CONT':
      continue
      print('Continue Arguement: ' + Arg)
    elif Arg.upper() == 'BREAK':
      break
      print('Break Arguement: ' + Arg)
    print('Good Arguement: ' + Arg)

In [5]:
DisplayMulti('Hello', 'Goodbye', 'First', 'Last')

Good Arguement: Hello
Good Arguement: Goodbye
Good Arguement: First
Good Arguement: Last

In [6]:
DisplayMulti('Hello', 'Count', 'Goodbye', 'Break', 'Last')

Good Arguement: Hello
Good Arguement: Count
Good Arguement: Goodbye

In [7]:
DisplayMulti('Hello', 'Count', 'Goodbye', 'Continue', 'Last')

Good Arguement: Hello
Good Arguement: Count
Good Arguement: Goodbye
Good Arguement: Continue
Good Arguement: Last

In [8]:
DisplayMulti('Hello', 'Count', 'Goodbye', 'Continue', 'Last', 'Break')

Good Arguement: Hello
Good Arguement: Count
Good Arguement: Goodbye
Good Arguement: Continue
Good Arguement: Last

In [0]:
def secretNumber():
  GotIt = False
  while GotIt == False:
    One = int(input("Type a number between 1 and 10: " ))
    Two = int(input("Type a number between 1 and 10: " ))

    if (One >= 1) and (One <=10):
      if (Two >= 1) and (Two <=10):
        print('Secret number is: ' + str(One * Two))
        GotIt = True
        continue
      else:
        print("Incorect second value!")
    else:
      print("Incorrect first value!")
    print("Try again!")

In [13]:
secretNumber()

Type a number between 1 and 10: 10
Type a number between 1 and 10: 20
Incorect second value!
Try again!
Type a number between 1 and 10: 10
Type a number between 1 and 10: 5
Secret number is: 50

In [0]:
MyTuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [17]:
for Value1 in MyTuple:
  if type(Value1) == int:
    print(Value1)
  else:
    for Value2 in Value1:
      if type(Value2) == int:
        print("\t", Value2)
      else:
        for Value3 in Value2:
          print("\t\t", Value3)

1
2
3
	 4
	 5
	 6
		 7
		 8
		 9

Tuples are immutable, which means that you can't change them. You can create a new tuple with same name and modify it in some way, but you can't modify an existing tuple.

Lists are mutable, which means you can change them.        
        More Information at Page No.131 of Book ML for dummies

In [0]:
MyNewTuple = MyTuple.__add__((10, 11, 12, (13, 14, 15)))

In [20]:
for Value1 in MyNewTuple:
  if type(Value1) == int:
    print(Value1)
  else:
    for Value2 in Value1:
      if type(Value2) == int:
        print("\t", Value2)
      else:
        for Value3 in Value2:
          print("\t\t", Value3)

1
2
3
	 4
	 5
	 6
		 7
		 8
		 9
10
11
12
	 13
	 14
	 15

In [21]:
import os
os.environ['PYTHONPATH']

'/env/python'

In [0]:
ListA = ['Orange', 'Yellow', 'Green', 'Brown']
ListB = [1, 2, 3, 4]

In [23]:
for Value in ListB[1:3]:
  print(Value)

2
3

In [25]:
for Value1, Value2 in zip(ListA, ListB):
  print(Value1, '\t', Value2)

Orange 	 1
Yellow 	 2
Green 	 3
Brown 	 4

In [0]:
ListA = ['Orange', 'Yellow', 'Green', 'Brown']
ListB = [1, 2, 3, ]

In [27]:
for Value1, Value2 in zip(ListA, ListB):
  print(Value1, '\t', Value2)

Orange 	 1
Yellow 	 2
Green 	 3

In [0]:
ListB = [4, 5, 6, 7]
ListA = [0 ,1, 2, 3]

In [29]:
ListA.extend(ListB)
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [30]:
ListA.extend(ListA)
ListA

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

In [32]:
ListA.append(-5)
ListA

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, -5, -5]

In [34]:
ListA.remove(-5)
ListA

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

Lists supports concatenation using plus(+) sign.

In [36]:
ListX = ListA + ListB
ListX

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]